.hero {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.heroDescription {
  cursor: default;
  text-align: left;
  padding-right: 25vw;
  font-family: Cormorant Garamond;
  font-weight: 1000;
  font-size: 3rem;
  padding: 5px 10px;
  color: var(--text-primary);
  max-width: 600px;
}


.btnPrimary {
  position: flex;
  bottom: 50px;
  left: 200px;
  padding: 13px 20px;
  background-color: var(--accent-gold);
  border: none;
  border-radius: var(--radius-md);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bgContent {
  position: flex;
  bottom: 50px;
  left: 500px;
  padding: 9px 20px;
  border: 3px solid var(--accent-gold);
  border-radius: var(--radius-md);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--text-primary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btnPrimary:hover {
  transform: translateY(-10px);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(245, 200, 66, 0.4);
}

.bgContent:hover {
  transform: translateY(-10px);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(245, 200, 66, 0.4);
}

.btnPrimary:active {
  transform: translateY(5px);
  transform: scale(0.9);
}

.bgContent:active {
  transform: translateY(5px);
  transform: scale(0.90);
}
