@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

:root {
  --bg-primary: #f0f0f0;
  --bg-card: rgba(255, 255, 255, 0.05);

  --accent-gold: #f5c842;
  --accent-orange: #ff6b35;

  --text-primary: #947318;
  --text-secondary: #888e98;

  --border-glass: rgba(255, 255, 255, 0.1);
  --radius-md: 16px;
  --font-main: 'Outfit', sans-serif;

  --glass-card-login : #0c0c0c1a;
}

/* Reset dasar */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: var(--text-primary);
  line-height: 1.6;
  min-height: 100vh;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fefefe;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.hero-description {
  cursor: default;
  text-align: left;
  padding-right: 25vw;
  font-family: Cormorant Garamond;
  font-weight: 1000;
  font-size: 3rem;
  padding: 5px 10px;
  color: var(--text-primary);
  max-width: 600px;
}

.btn-primary {
  position: flex;
  bottom: 50px;
  left: 200px;
  padding: 13px 20px;
  background-color: var(--accent-gold);
  border: none;
  border-radius: var(--radius-md);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bg-content {
  position: flex;
  bottom: 50px;
  left: 500px;
  padding: 9px 20px;
  border: 3px solid var(--accent-gold);
  border-radius: var(--radius-md);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--text-primary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(245, 200, 66, 0.4);
}

.bg-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(245, 200, 66, 0.4);
}

.about {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  background-color: #dad7d7;
}

.about-title {
  align-self: center;
  margin-bottom: 50px;
  font-family: Poppins;
  font-size: 5vw;
  font-weight: 800;
  letter-spacing: 5px;
  background: var(--accent-gold);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  color: #fefefe;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.about-description {
  cursor: default;
  text-align: justify;
  margin-bottom: 5px;
  align-self: center;
  padding-right: 100vw;
  font-family: Cormorant Garamond;
  font-weight: 1000;
  font-size: 35px;
  padding: 0px 10px;
  color: var(--text-primary);
  max-width: 600px;
  opacity: 1;
}
